<br />
<br />
<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>Based on the template from <a href="https://www.allanlab.org/">Allan Lab</a>.</p>            		  
            
		</div>
		<div class="col-sm-4">
		  Funding:<br />
		  - <a href="http://dbtindia.gov.in/">Department of Biotechnology</a>, Govt. of India. <br /> 
		  - <a href='http://www.nhhid.org/'>NHHID</a>, Department of Science and Technology, Govt. of India grants.
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Dept. Bioengineering,<br />
		  Christian Medical College<br />
		  Bagayam, Vellore 632002<br />
		  Tamil Nadu, India<br />
            <!-- (<a href="https://goo.gl/maps/H2RjutkyoUH2">Maps</a>, <a href="http://www.physics.leidenuniv.nl/travel-directions">Directions</a>) -->
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
